# MATLAB specific files
*.asv
*.m~
*.mex*
*.mat
slprj/
sccprj/
codegen/
*.slxc
*.autosave

# OS specific files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Editor backup files
*~
*.bak
*.swp
